.sm-title {
    color: #333;
    font-size: 1em;
    padding: 0px 25px 0px 0px;
}

.sm-label {
    color: #333;
    font-size: 0.75em;
    padding-top: 5px;
}

.sm-label-left {
    color: #333;
    font-size: 0.75em;
    padding: 5px 5px 0 0;
}

.sm-value {
    color: #333;
    text-align: right;
    min-width: 40px;
    padding: 2px 5px 0 0;
}

.sm-status-label {
    color: #333;
    font-size: 0.625em;
    padding: 0 2px 0 5px;
}

.sm-unit-label,
.sm-net-unit-label {
    color: #aaa;
    font-size: 0.5em;
    padding: 0 5px 0 2px;
}

.sm-disk-unit-label {
    color: #aaa;
    font-size: 0.625em;
    padding: 0 5px 0 2px;
}

.sm-net-unit-label {
    min-width: 25px;
}

.sm-perc-label {
    color: #aaa;
    font-size: 0.625em;
    padding: 0 5px 0 2px;
}

.sm-temp-label {
    color: #aaa;
    font-size: 0.6875em;
    padding: 0 5px 0 2px;
}

.sm-status-value {
    min-width: 25px;
    text-align: right;
}

.sm-net-value {
    min-width: 40px;
    text-align: center;
}

.sm-disk-value {
    min-width: 25px;
    text-align: right;
}

.sm-big-status-value {
    min-width: 42px;
    text-align: right;
}

.sm-chart {
    padding: 0 2px;
}

.sm-tooltip-box {
    font-size: 0.85em;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(10, 10, 10, 0.7);
    border-radius: 5px;
    padding: 3px;
    border: 1px solid #a5a5a5;
}

.sm-tooltip-item {
    padding: 0px;
    spacing: 10px;
}
.sm-status-icon {
    padding: 0px 2px;
    icon-size: 1.14em;
}

.sm-popup-menu-item-compact {
}

/* style definition when 'compact-display' option is activated */

.sm-title-compact {
    color: #333;
    font-size: 0.75em;
}

.sm-label-compact {
    color: #333;
    font-size: 0.6875em;
} /* Bat, Net... units in menu items */

.sm-value-compact {
    color: #333;
    font-size: 0.6875em;
    text-align: right;
} /* Values in menu items */

.sm-status-label-compact {
    color: #333;
    font-size: 0.5em;
    padding: 2px 0px 0 0px;
} /* names and Disk R and W signs in text items */

.sm-unit-label-compact,
.sm-net-unit-label-compact {
    color: #aaa;
    padding: 0 3px 0px 1px;
    text-align: right;
    font-size: 0.4375em;
} /* Bat, Net... units in text items */

.sm-disk-unit-label-compact {
    color: #aaa;
    padding: 0 3px 0px 0px;
    text-align: right;
    font-size: 0.4375em;
} /* Disk units in text items */

.sm-perc-label-compact {
    padding: 0 3px 0 0px;
    color: #aaa;
    font-size: 0.5em;
} /* Cpu, Mem ... % sign in text items */

.sm-temp-label-compact {
    font-size: 0.625em;
    color: #aaa;
    padding: 0 1px 0 1px;
} /* Thermal °C sign in text items */

.sm-status-value-compact {
    padding:0 0px 0 1px;
    font-size: 0.6875em;
    text-align: right;
    min-width:16px;
} /* Cpu, Mem... value in text items */

.sm-net-value-compact {
    padding:0 0px 0 1px;
    font-size: 0.6875em;
    text-align: right;
    min-width:24px;
} /* Net value in text items */

.sm-disk-value-compact {
    padding: 0 1px 0 1px;
    font-size: 0.6875em;
    text-align: right;
    min-width: 20px;
} /* Disk value in text items */

.sm-big-status-value-compact {
    padding: 0 0px 0px 1px;
    font-size: 0.6875em;
    min-width: 38px;
    text-align: right;
} /* freq in text_items */

.sm-chart-compact {
    padding: 0 2px;
}

.sm-tooltip-item-compact {
    padding: 0px;
    spacing: 10px;
}

.sm-status-icon-compact {
    padding: 1px 0 0 2px;
    icon-size: 1.00em;
} /* BAT icon in text_items */

.sm-popup-menu-item-compact {
    font-size: 0.6875em;
    width: 20px;
    padding: 1px 2px 1px 7px;
}
