[Desktop Entry]
Version=1.0
Name=Scrcpy
Comment=This application provides display and control of Android devices connected on USB (or over TCP/IP).
TryExec=/usr/bin/scrcpy
Exec=/usr/bin/scrcpy %u
Icon=scrcpy
Terminal=false
StartupWMClass=Typora
Type=Application
Categories=Development;
Keywords=scrcpy;android;phone;
X-GNOME-UsesNotifications=true
