[Desktop Entry]
Version=1.0
Name=Typora
Comment=A markdown editor, markdown reader
TryExec=/usr/local/bin/typora
Exec=/usr/local/bin/typora %u
Icon=typora
Terminal=false
StartupWMClass=Typora
Type=Application
Categories=TextEditor;Development;
Keywords=typora;markdown;git;readme;
X-GNOME-UsesNotifications=true
