[Desktop Entry]
Type=Application
Name=Redshift
Comment=Make color temperature from warm to cool.
Exec=/usr/bin/redshift -l 23.8103:90.4125 -t 7900:7900
Terminal=false
X-Desktop-File-Install-Version=0.22
OnlyShowIn=GNOME;
